body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  color: #ea6b8b;
  word-spacing: 2px;
  max-width: 100%;
}
h4.night {
  color: #c8c8c9;
}
body.day a {
  color: #403e43;
}
body.night a {
  color: #fff;
}

body.day {
  background-color: #fff8f8;
  color: #282627;
}
body.night {
  background-color: #161616;
  color: #96d1ea;
}

body.night #moon {
  cursor: pointer;
}

body.day #moon {
  display: none;
}

body.night #sun {
  display: none;
}

body.day #sun {
  cursor: pointer;
}

body.night #link {
  color: #96d1ea;
}

body.day #link {
  color: #ea6b8b;
}

.container {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 20px 20px;
}

/* -------- MENU --------  */

.night .menu {
  background-color: #161616;
  height: 60px;
  width: 100%;
  position: fixed;
}

.day .menu {
  background-color: #fff8f8;
  height: 60px;
  width: 100%;
  position: fixed;
}

nav {
  z-index: 999;
}

nav ul {
  padding: 0;
  padding-left: 30px;
}

nav li {
  display: contents;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: #ea6b8b;
  transition: 1s;
}

.right {
  float: right;
  margin-right: 40px;
}

nav a:hover {
  color: #6c6c6c;
}

nav a#toggle-button {
  display: none;
}

/* --------  HOME -------- */
.home {
  padding: 130px;
  margin-bottom: 40px;
}
.home-container {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 300px;
}
.moonSun {
  padding-top: 30px;
  text-align: center;
  z-index: 30;
}
.day .moonSun {
  background-color: #fff8f8;
}
.night .moonSun {
  background-color: #161616;
}
.night .home-content {
  color: white;
  text-align: left;
}
.night .home-content p {
  color: #8a8983;
}
.day .home-content {
  font-weight: 500;
  color: #161616;
  text-align: left;
}
.day .home-content p {
  color: #8a8983;
}

.moonSun p {
  font-size: 0.7em;
  color: #8a898c;
}
.day .var-highlight {
  color: #1581e6;
}
.night .var-highlight {
  color: #c0ad60;
}
.day .string-highlight {
  color: #ea6b8b;
}
.night .string-highlight {
  color: #96d1ea;
}

#typewriter {
  font-size: 1.3em;
  margin-left: -600px;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------  ARROW -------- */
.arrow {
  position: relative;
  bottom: -10rem;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  padding-bottom: 30px;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* --------  EXPERIENCES -------- */
.experience {
  padding: 20px 20px 20px;
}
.day .experience {
  background-color: white;
}
.experience-container {
  padding: 40px 20px 20px;
  text-align: center;
}
.experience-container img {
  padding-top: 90px;
}
.night #logo-day {
  display: none;
}
.day #logo-night {
  display: none;
}
.card .front {
  display: block;
}
.card .back {
  display: none;
  text-align: left;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  max-width: 100%;
}

.card {
  transition: 0.3s;
  text-align: center;
  height: 283px;
  padding: 30px;
  border-radius: 5px;
  margin: 15px;
}

.day .card {
  color: #343233;
  background-color: #fff8f8;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.day .card:hover {
  background-color: #ffffff;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.night .card {
  color: white;
  background-color: #202022;
}
.night .card h4 {
  color: #79797b;
}
.night .card p {
  color: #c6c6c6;
}
.night .card:hover {
  background-color: #28282b;
}
.card:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
}
.play {
  line-height: 0.3em;
}

/* --------  PROJECT -------- */
.project {
  padding: 20px 20px 20px;
}
.night .project .container {
  background-color: #161616;
}
.day .project .container {
  background-color: #ffffff;
}
.project-container {
  padding: 40px 20px 20px;
  text-align: center;
}
.project-container p {
  line-height: 1.2;
  font-size: 0.9em;
}
.haven {
  padding-top: 50px;
}
#imgFront {
  padding-top: 75px;
}
#cssProject {
  line-height: 200%;
  letter-spacing: 1.5px;
  margin-left: -50px;
  margin-top: 30px;
}

/* -------- Project - CSS heart -------*/
.heart {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 160px;
  padding-top: 55px;
  transform-style: preserve-3d;
  animation: spin 15s infinite linear;
}

.heart1 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 0.5s infinite alternate linear;
  transform: rotateY(50deg) rotateZ(45deg) translateX(62px);
  border: solid #ec2d73;
  border-width: 5px 5px 0 0;
}

.heart2 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 1s infinite alternate linear;
  transform: rotateY(100deg) rotateZ(45deg) translateX(62px);
  border: solid #eb5324;
  border-width: 5px 5px 0 0;
}

.heart3 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 1.5s infinite alternate linear;
  transform: rotateY(150deg) rotateZ(45deg) translateX(62px);
  border: solid #fdc800;
  border-width: 4px 4px 0 0;
}

.heart4 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 2s infinite alternate linear;
  transform: rotateY(200deg) rotateZ(45deg) translateX(62px);
  border: solid #60b247;
  border-width: 5px 5px 0 0;
}

.heart5 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 2.5s infinite alternate linear;
  transform: rotateY(250deg) rotateZ(45deg) translateX(62px);
  border: solid #1470bd;
  border-width: 5px 5px 0 0;
}

.heart6 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 3s infinite alternate linear;
  transform: rotateY(300deg) rotateZ(45deg) translateX(62px);
  border: solid #76469a;
  border-width: 5px 5px 0 0;
}

.heart7 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 160px;
  border-width: 1px 1px 0 0;
  border-radius: 60% 80% 0 / 40% 50% 0;
  animation: show 1s 3.5s infinite alternate linear;
  transform: rotateY(350deg) rotateZ(45deg) translateX(62px);
  border: solid #bd245c;
  border-width: 5px 5px 0 0;
}

@keyframes spin {
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* --------  CONTACT -------- */
.day .contact {
  background-color: #fff8f8;
  padding: 50px;
  text-align: center;
  align-content: space-evenly;
}
.day .contact a:hover {
  color: #ea6b8b;
}

.night .contact {
  background-color: #161616;
  padding: 50px;
  text-align: center;
  align-content: center;
}
.night .contact a:hover {
  color: #96d1ea;
}
.contact-container .icons {
  padding: 10px;
  justify-content: space-evenly;
}

#email,
#linkedin,
#github,
#instagram {
  padding: 15px;
}

/* --------  FOOTER -------- */
footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  padding-bottom: 4em;
}

.night footer {
  background-color: #161616;
}
footer span .day {
  color: #ea6b8b;
  font-weight: 600;
  background: #fff8f8;
}

footer span .night {
  color: #96d1ea;
  font-weight: 600;
  background-color: #161616;
}

@media screen and (max-width: 900px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    row-gap: 15px;
  }
  .card {
    position: relative;
    margin: 10px;
    padding: 30px;
    height: 300px;
  }
  #moon {
    padding-top: 60px;
  }
  #sun {
    padding-top: 60px;
  }
  .arrow {
    padding-top: 80px;
  }
  .home {
    padding: 50px;
    padding-bottom: 250px;
  }
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #typewriter {
    padding-top: 30px;
    font-size: 1em;
    margin-left: -350px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding: 0 1rem;
  }
  nav {
    height: auto;
    padding: 10px;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav li {
    width: 100%;
    float: left;
    position: relative;
  }

  .day nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #fff8f8;
    color: #403e43;
  }

  .night nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #161616;
    color: white;
  }

  nav a:hover {
    color: #6c6c6c;
  }

  nav a#toggle-button:after {
    content: "|||";
    transform: rotate(-90deg);
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }

  .day nav a#toggle-button {
    display: block;
    background: #fff8f8;
    color: #89868f;
    width: 100%;
    position: relative;
  }

  .night nav a#toggle-button {
    display: block;
    background: #161616;
    color: white;
    width: 100%;
    position: relative;
  }

  .menu:before,
  .menu:after {
    content: "";
    display: table;
  }
  .menu:after {
    clear: both;
  }
  .menu {
    zoom: 1;
  }
  #moon {
    padding-top: 60px;
  }
  #sun {
    padding-top: 60px;
  }
  .arrow {
    padding-top: 80px;
  }
  .home {
    padding: 50px;
    padding-bottom: 250px;
  }
  .section h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
  }
  .section p {
    padding: 10px;
    font-size: 14px;
  }
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #typewriter {
    padding-top: 15px;
    font-size: 1em;
    margin-left: -450px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    row-gap: 15px;
  }
  .card {
    position: relative;
    margin: 10px;
    padding: 30px;
    height: 300px;
  }
  .project-container {
    text-align: left;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .experience-container {
    text-align: left;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .contact {
    margin: 0px;
    padding: 10px;
  }
}
